%h1 Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal well' }) do |f|
  = f.error_notification
  = display_base_errors resource
  .form-group= f.input :name, required: true, autofocus: true,
    label_html: { class: 'col-lg-3'}, input_html: { class: 'form-control' }
  .form-group= f.input :email, required: true,
    label_html: { class: 'col-lg-3'}, input_html: { class: 'form-control' }
  .form-group= f.input :password, autocomplete: "off", 
    hint: "leave it blank if you don't want to change it", required: false,
    label_html: { class: 'col-lg-3'}, input_html: { class: 'form-control' }
  .form-group= f.input :password_confirmation, required: false,
    label_html: { class: 'col-lg-3'}, input_html: { class: 'form-control' }
  .form-group= f.input :current_password, 
    hint: "we need your current password to confirm your changes",
    required: true, label_html: { class: 'col-lg-3'}, input_html: { class: 'form-control' }

  .row
    .col-lg-5= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-xs  delete-account"
    .col-lg-3.col-lg-offset-4= f.button :submit, 'Update', class: 'btn-primary'

=# link_to "Back", :back
