.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          = link_to "Challenge Me", root_path, :class => 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to :new_challenge, new_challenge_path
            - if user_signed_in?
              %li= link_to :my_solutions, solutions_user_path(current_user)
              %li= link_to :my_challenges, challenges_user_path(current_user)
          %ul.nav.navbar-nav.navbar-right.devise
            - if user_signed_in?
              %li= link_to 'Edit account', edit_user_registration_path, :class => "btn btn-primary"
            - else
              %li= link_to 'Sign up', new_user_registration_path, :class => "btn btn-primary"
            - if user_signed_in?
              %li= link_to 'Logout', destroy_user_session_path, :method=>'delete', :class => "btn btn-danger"
            - else
              %li= link_to 'Login', new_user_session_path, :class => "btn btn-success"
