= simple_form_for(@challenge, html: { class: 'form-horizontal well' }) do |f|
  = f.error_notification
  = f.input :user_id, as: "hidden", input_html: { value: current_user.id }

  .form-group= f.input :name, :required => true, label_html: { class: 'col-lg-2'}, input_html: { class: 'form-control' }
  .form-group= f.input :desc, label_html: { class: 'col-lg-2'}, input_html: { class: 'form-control', rows: 5 }
  .form-group= f.input :challenge_file, label: :File, label_html: { class: 'col-lg-2'}, input_html: { class: 'col-lg-9' }
  =# f.file_field :challenge_file

  .form-actions.col-lg-offset-9= f.button :submit
