%p#notice= notice

%p
  %b Name:
  = @challenge.name
%p
  %b Date:
  = @challenge.date
%p
  %b Closed:
  = @challenge.closed
%p
  %b User:
  = @challenge.user
%p
  %b Desc:
  = @challenge.desc
%p
  %b Challenge file:
  = @challenge.challenge_file

= link_to 'Edit', edit_challenge_path(@challenge)
\|
= link_to 'Back', challenges_path
