%h1 Challenge

%p#notice= notice

%p
  %b Name:
  = @challenge.name
%p
  %b Date:
  = @challenge.date
%p
  %b Closed:
  = @challenge.closed
%p
  %b User:
  = @challenge.user.name
%p
  %b Desc:
  = @challenge.desc

- if @challenge.challenge_file.present?
  %p
    %b Challenge file:
    = @challenge.challenge_file

- if owner_of_challenge? @challenge
  = link_to 'Edit', edit_challenge_path(@challenge)
- elsif solution = @challenge.user_solution(current_user)
  %hr
  %h2= "Solution"
  #challenge_solution
    = render 'solutions/show', solution: solution
- else
  %hr
  %h2= "Solution"
  #challenge_solution
    = render 'add_solution', challenge_id: @challenge.id
