.panel.panel-info.challenge-extra-info
  .panel-heading
    %h1= @challenge.name

  .panel-body
    .challenge-desc= @challenge.desc
    = @challenge.file

  .panel-footer
    %p.text-left
      %b Author:
      = @challenge.user.name
    %p.text-left
      %b Date:
      = "@challenge.date"
    %p.text-left
      %b State:
      %span{ class: @challenge.state }= @challenge.state

- if current_user
  = @challenge.solution_area
