.panel.panel-success.solution-extra-info
  .panel-heading
    %h2= "Solution"

  .panel-body
    %p
      %b Desc:
      = solution.desc

    = solution.file

  - if solution.challenge.active?
    .panel-footer
      = link_to 'Edit', edit_solution_path(solution), class: "btn btn-primary", remote: true
      = link_to 'Remove', solution_path(id: solution.id), method: :delete, class: "btn btn-danger", remote: true


