%h1 Listing solutions

%table
  %tr
    %th Solution file
    %th Desc
    %th
    %th
    %th

  - @solutions.each do |solution|
    %tr
      %td= solution.solution_file
      %td= solution.desc
      %td= link_to 'Show', solution
      %td= link_to 'Edit', edit_solution_path(solution)
      %td= link_to 'Destroy', solution, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Solution', new_solution_path
